[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"]{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #222;
    border: none;
    padding: .5rem 1rem;
    margin: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  .js [data-menu="button"]::before{
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 5px #fff, 0 -5px #fff;
  }
  .js [data-menu="list"]{
    display: none;
    position: absolute;
    background-color: #fb5;
    width: 170px;
    z-index: 99;
    top: 0;
    left: 0;
    padding: 60px 0 20px 0;
    box-shadow: 2px 2px 2px #00000033;
  }
  .js [data-menu="list"].active{
    display: block;
  }
  .js .dropdown-menu{
    position: static;
    border: none;
  }
}