.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}
.modal-container.ativo{
    display: flex;
}
.modal{
    background-color: #fff;
    padding: 40px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px #fff;
    position: relative;
    min-width: 300px;
    animation: modal .3s forwards;
}
@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fechar{
    position: absolute;
    top: -35px;
    right: -35px;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #e54;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Montserrat', monospace;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 4px 4px #0000005e;
}
.modal label{
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 1.125rem;
    margin: 1rem 0 .5rem 0;
    display: block;
}
.modal input{
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
}
.modal button[type="submit"]{
    display: block;
    background-color: #e54;
    border: none;
    border-radius: 4px;
    padding: .7rem 1.7rem;
    font-size: 1.125rem;
    font-family: 'Montserrat', monospace;
    color: #fff;
    margin-top: 20px;
}






