.tooltip{
    position: absolute;
    z-index: 99;
    background: #00000099;   
    box-shadow: 0 0 0 2px #ffbb55,
                0 0 0 6px #00000099;
    padding: .5rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: .875rem;
    font-weight: bold;
    color: #ffffff;
    max-width: 150px;
    border-radius: 2px;
}